body {
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.main {
    flex: 1 1 auto;
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

